@import "tailwindcss";

@theme {
  --color-primary: #ff8c0c;
  --font-montserrat: "Montserrat", sans-serif;
  --shadow-main: rgba(149, 157, 165, 0.2) 0px 10px 30px;
}
body {
  background-color: #f9f9f9;
}
.max-container {
  @apply max-w-[1600px] mx-auto px-5;
}

input:focus {
  outline: none;
}